include config/check_nrpe_ng.cfg
include config/nagios_check_nrpe_ng.cfg
include config/nrpe-ng.cfg
include COPYING
include Makefile
include man/nrpe-ng.1
include man/nrpe-ng.cfg.5
include README.md
include TODO.md
