[Unit]
Description=The next generation Nagios Remote Plugin Executor
Documentation=man:nrpe-ng(1)

[Service]
Type=forking
PIDFile=/run/nagios/nrpe-ng.pid
ExecStart=/usr/sbin/nrpe-ng --config /etc/nagios/nrpe-ng.cfg --daemon

[Install]
WantedBy=multi-user.target
