#!/usr/bin/make -f

PACKAGE = $(firstword $(shell dh_listpackages))
PKG_DIR = $(CURDIR)/debian/$(PACKAGE)

export PYBUILD_NAME=nrpe-ng
%:
	dh $@ --with python2,systemd --buildsystem=pybuild

override_dh_install:
	dh_install
	mkdir -p $(PKG_DIR)/usr/sbin
	mv $(PKG_DIR)/usr/bin/nrpe-ng $(PKG_DIR)/usr/sbin/

